html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
  background-color: #090D1F;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.article-header {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 32px 0;
}

.blog-card-time {
  color: #6941C6;
  font-size: 14px;
}

.blog-card-title {
  position: relative;
  font-size: 24px;
  margin: 12px 0;
  line-height: 32px;
}

.blog-card-small-title {
  font-size: 18px;
  margin: 12px 0 8px 0;
  line-height: 28px;
}

.blog-card-info {
  color: #C0C5D0;
  margin: 0 0 24px 0;
  line-height: 24px;
}

.tags {
  height: 24px;
  align-items: center;
}

.tag {
  margin: 0;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;
  color: #027A48;
  background: #ECFDF3;
}

.tag:not(:last-child) {
  margin-right: 8px;
}

.arrow-svg {
  position: absolute;
  top: 10px;
  right: 5px;
}

/*Header*/

.header {
  margin: 30px 0 60px;
}

.header-container {
  align-items: center;
  padding: 10px 0 15px;
}

.header-fio {
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
}

.header-list {
  margin-right: 14px;
}

.header-list-item {
  margin-right: 14px;
  padding: 8px;
}

.header-list-item:last-child {
  margin-right: 0;
}

.header-link {
  font-weight: 700;
  font-size: 20px;
}

/* Blog */

.blog-header {
  font-weight: 700;
  font-size: 236px;
  line-height: 295px;
  margin: 0 0 30px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.blog-recent-up {
  margin-bottom: 60px;
}

.blog-recent-up-big {
  max-width: 592px;
  max-height: 432px;
  margin-right: 32px;
}

.blog-recent-up-big-img {
  margin-bottom: 32px;
}

.blog-recent-up-small {
  max-width: 592px;
  max-height: 432px;
}

.blog-recent-up-small-img {
  width: 320px;
  height: 200px;
}

.blog-recent-up-small-item:not(:last-child) {
  margin-bottom: 32px;
}

.blog-recent-up-small-text {
  padding-left: 24px;
}

.blog-recent-down {
  margin-bottom: 30px;
}

.blog-recent-down-image {
  max-width: 592px;
  height: 246px;
  margin-bottom: 30px;
}

.blog-recent-down-text {
  padding-left: 32px;
  margin-bottom: 30px;
}

.blog-all-list {
  flex-wrap: wrap;
  border-bottom: 1px solid #fff;
}

.blog-all-item {
  max-width: 384px;
  max-height: 444px;
  margin-bottom: 48px;
  margin-right: 32px;
}

.blog-all-item:nth-child(3n) {
  margin-right: 0;
}

.blog-all-pagination {
  height: 100px;
  border: 1px solid #fff
}

.footer {
  padding: 30px 0;
}

.footer-age {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-right: 14px;
}

.footer-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-right: 14px;
}

.footer-link:last-child {
  margin-right: 0;
}